footer {
	background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer-section__title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	margin-bottom: 55px;
}

.footer-section__flex {
	display: flex;
	justify-content: space-between;
	padding-bottom: 150px;
}

.footer-address__item {
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	white-space: pre-line;
	cursor: pointer;
 	transition-duration: 0.5s;
 	transition-property: color;
	margin: 0;
}

.footer-address__item:hover {
	color: var(--main-color);
}

.footer-address__direction-item {
	margin-bottom: 38px;
	position: relative;
}

.footer-address__direction-item:before {
	content: url('../img/location.svg');
}

.footer-address__call-item {
	margin-bottom: 11px;
}

.footer-address__call-item:before {
	content: url('../img/phone_call.svg');
}

.footer-address__connection-item {
	margin-bottom: 40px;
}

.footer-address__connection-item:before {
	content: url('../img/mail.svg');
}

.footer__icon-div {
	display: inline-block;
}

.footer__icon-img:not(:last-child) {
	margin-right: 20px;
}

.titulo {
	margin: 0;
}

.footer-section__design-div {
	display: flex;
	justify-content: space-between;
}

.footer-section__second-div {
	text-align: right;
}